HOST=0.0.0.0
PORT=4000
SQL_SERVER=localhost
SQL_DATABASE=POWERAPPS_MASTERDATA
SQL_USER=sqladmin
SQL_PASSWORD=StrongPass!12345
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERTIFICATE=true
API_KEY=gsdc-test-51N8xYzExampleKey1234567890abcdef
API_KEY_HEADER=x-api-key
ALLOWED_ORIGINS=https://hrapp.powerappsportals.com